<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'images/gender_recog/favicon-cir.png'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="stylesheet" href="{% static 'css/gender_recog/styles.css' %}" />
    <title>Saichandra Pandraju</title>
  </head>

  <body>
    <header>
      <nav class="nav">
        <div class="logo">
          <a href="{% url 'index' %}"><h4>SAI</h4></a>
        </div>
        <ul class="nav-links">
          <li>
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="{% url 'gender_recog:gen_recog' %}">Projects</a>
          </li>
        </ul>
      </nav>
      <section>
        <div class="main">
          <img
            src="{% static 'images/gender_recog/sky-space.jpg'%}"
            alt="explore"
          />
          <h1 class="headline">Wanna explore something?</h1>
          <h3 class="suggestion">
            Checkout my projects to witness subtle art of AI
          </h3>
        </div>
      </section>
    </header>

    <div class="slider"></div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
      integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'site.js' %}"></script>
  </body>
</html>
