.body-inherit {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to left, #ba7453, #d1a984);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}
.nav-inherit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  min-height: 8vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  /* background: red; */
  font-family: "Poppins", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links-inherit {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links-inherit a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links li {
  list-style: none;
}
.nav-links-inherit li {
  list-style: none;
}
.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 20px;
}
.logo-inherit a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    width: 60%;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  z-index: -1;
}

.index {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 60%;
  width: 100%;
  position: relative;
}
.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 35px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}
.suggestion {
  position: absolute;
  top: 85%;
  left: 15%;
  font-size: 20px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}
.main::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}
.face_app {
  background: linear-gradient(to left, #ba7453, #d1a984);
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload_center {
  display: flex;
  justify-content: center;
}

.face_app h2 {
  padding: 12px 28px;
  justify-content: center;
}
.upload {
  background-color: #ba7453;
  border: none;
  padding: 12px 28px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  transition-duration: 0.4s;
}

.upload:hover {
  background-color: #d1a984;
  color: white;
  cursor: pointer;
}
.choose_file {
  background-color: #ba7453;
  border: none;
  padding: 12px 12px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  transition-duration: 0.4s;
}
.choose_file:hover {
  background-color: #d1a984;
  color: white;
  cursor: pointer;
}
.face {
  height: 45%;
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-80%, -60%);
}

.s1 h1,
.s2 h1,
.s3 h1,
.s4 h1 {
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  background: linear-gradient(to left, #eee5bd, #f5f0d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  /* margin: 20%; */
  width: 60%;
  margin-left: 5%;
  font-size: 20px;
}
.s1 .description {
  /* margin: 20%; */
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
.description p {
  margin-bottom: 25px;
}
